/* ------------------ COLORS ----------------- */
/* ------------------ CSS RESET ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: hsl(36deg, 100%, 99%);
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/* ------------------ CSS RESET ----------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
}

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 6rem 3.5rem;
}
header .container {
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 3rem;
}
header ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-items: center;
  gap: 2rem;
}
header ul a {
  color: hsl(236deg, 13%, 42%);
}
header ul a:hover {
  color: hsl(5deg, 85%, 63%);
}
header ul a li {
  list-style: none;
  font-size: 1.1rem;
}

.container {
  width: 1112px;
  display: flex;
  justify-content: center;
}

.main-section {
  display: flex;
  justify-content: center;
  height: auto;
}
.main-section .container {
  display: flex;
  justify-content: space-between;
}
.main-section .container .main-content {
  display: flex;
  flex-direction: column;
}
.main-section .container .main-content .image-container picture img {
  width: 730px;
}
.main-section .container .main-content .text-container {
  display: flex;
  margin-top: 30px;
  padding-right: 30px;
}
.main-section .container .main-content .text-container .title {
  width: 380px;
}
.main-section .container .main-content .text-container .title h1 {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 3.5rem;
}
.main-section .container .main-content .text-container .text {
  width: 350px;
}
.main-section .container .main-content .text-container .text p {
  color: hsl(236deg, 13%, 42%);
  font-size: 0.938rem;
  line-height: 1.5rem;
  margin-top: -4px;
}
.main-section .container .main-content .text-container .button-container {
  height: 48px;
  width: 185px;
  background-color: hsl(5deg, 85%, 63%);
  margin-top: 35px;
}
.main-section .container .main-content .text-container .button-container a {
  height: 48px;
  width: 185px;
  font-weight: 700;
  font-size: 0.938rem;
  color: hsl(36deg, 100%, 99%);
  letter-spacing: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-section aside .articles-container {
  height: 100%;
  width: 350px;
  background-color: hsl(240deg, 100%, 5%);
}
.main-section aside .articles-container .articles-container-title {
  padding: 1.75rem 0 0 1.563rem;
  font-size: 2.375rem;
  font-weight: 700;
  color: hsl(35deg, 77%, 62%);
}
.main-section aside .articles-container article {
  padding: 1.875rem 1.5rem 2rem;
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
}
.main-section aside .articles-container article h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: hsl(36deg, 100%, 99%);
  padding-bottom: 10px;
}
.main-section aside .articles-container article p {
  font-size: 15px;
  color: hsl(233deg, 8%, 79%);
  line-height: 24px;
}

.news-section {
  display: flex;
  justify-content: center;
}
.news-section .container {
  display: flex;
  justify-content: space-around;
  flex: 1 1 0px;
}
.news-section .container .news-1,
.news-section .container .news-2,
.news-section .container .news-3 {
  flex: 1;
  display: flex;
  margin-top: 72px;
  margin-bottom: 130px;
}
.news-section .container .news-2,
.news-section .container .news-3 {
  margin-left: 30px;
}
.news-section .container img {
  width: 100px;
  margin-right: 25px;
}
.news-section .container .article-number {
  display: block;
  color: hsl(233deg, 8%, 79%);
  font-size: 30px;
  font-weight: 700;
}
.news-section .container h4 {
  color: hsl(240deg, 100%, 5%);
  font-weight: 800;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.125rem;
}
.news-section .container p {
  font-size: 0.938rem;
  line-height: 1.688rem;
}/*# sourceMappingURL=style.css.map */